
    {{#paper-card as |card|}}
    <div class="md-padding">
        <h4 class="page-title">طلب تحويل</h4>
        {{#paper-form  class="md-padding"  onSubmit=(action "saveRequest") as |form|}}
        <div class="layout-row ayout-row layout-wrap md-padding u-spacing-20">
            {{form.input class="flex-50" label="الرصيد"   disabled=true  errorMessages=regularValidation required=true   value=request.service onChange=(action (mut request.service)) }} 
          {{form.input class="flex-50" label=" المبلغ"     errorMessages=regularValidation required=true   value=request.service onChange=(action (mut request.service)) }} 
         {{#paper-select class="flex-50"  label="طريق الدفع"   required=true errorMessages=regularValidation  options=types selected=request.service_type onChange=(action (mut request.service_type))
        as |type|}} {{type.name}} {{/paper-select}}
        </div>
        <div class=" u-full-width mdl-grid u-mbuttom30">
            <div class="mdl-cell mdl-cell--12-col">
                <div class=" m-b-1 w-80">
                    <div class="form-group inputDnD">
                        <i class="material-icons">insert_drive_file</i>
                        <input type="file" accept="image/jpeg, image/png, application/pdf" data-title="إرفاق الصورة" class={{if inputFile
                            "form-control-file text-primary font-weight-bold has-name" "form-control-file text-primary font-weight-bold"}} id="inputFile" disabled={{isShow}} name="attachment"
                            onchange={{ action "fileInputChange" "inputFile"}}>
                        <div class="file-name">{{inputFile}}</div>
                        {{#if request.invoice_image}}
                        <a href="{{request.invoice_image}}" target="_blank" download>تنزيل</a>
                        {{/if}}
        
                    </div>
                </div>
            </div>
            </div>

            <div class="layout-row">
            <span class="flex"></span>
        
            {{#form.submit-button disabled=isRequesting  class="u-padding-side-60" raised=true primary=true}} حفظ{{/form.submit-button}}
              
         
        </div>
            {{/paper-form}}
        </div>
            {{#if isRequesting}}
{{paper-progress-linear}}
{{/if}}
    {{/paper-card}}