

{{#paper-data-table class="u-custom-table u-custome-menu"   as |table|}}
{{#table.head as |head|}}
  {{#head.column }}تاريخ الأستحقاق{{/head.column}}
  {{#head.column }}ارقام الوحدات{{/head.column}}
  {{#head.column }}المبلغ{{/head.column}}
  {{#head.column numeric=true}}{{/head.column}}

{{/table.head}}
{{#table.body as |body|}}
  {{#each  (filter (action "statusFilter") orders) as |order|}}
    {{#body.row edit=(if (eq order.status '0') true false)  onClick=(action 'editOrder' order.id) as |row|}}
      {{#row.cell }}{{order.due_date}}{{/row.cell}}
      {{#row.cell }}{{order.units}}{{/row.cell}}
      {{#row.cell}}{{order.amount}}{{/row.cell}}
      {{#row.cell edit=true as |cell|}}
         {{#paper-menu  offset="237 23" as |menu|}} 
         {{#menu.trigger}} 
         {{#paper-button iconButton=true}} {{paper-icon "more_vert" size=18 class="md-menu-origin"}} {{/paper-button}} 
        {{/menu.trigger}} 
        {{#menu.content class="u-custome-menu" width=4 as |content|}} 
        {{#content.menu-item
        onClick=(action "deleteOrder" order.id)}} {{paper-icon "delete" size=18 class="md-menu-align-target"}}
        <span>حذف</span>
        {{/content.menu-item}}
        
         {{/menu.content}} {{/paper-menu}}
      {{/row.cell}}
    {{/body.row}}
     
    {{else}}
 
    {{#body.row  as |row|}}
     {{#row.cell colspan="5"}}لا يوجد طلبات {{/row.cell}}
     {{/body.row}}
  {{/each}}
{{/table.body}}
{{/paper-data-table}}