


  <div class="layout-row u-md-padding-top-bottom"> <span class="flex"></span><button onclick={{action "addContract"}}  id="loginBtn" class="mdl-button u-margin-8 u-padding-side-60 mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                أضف عقد جديد
            </button></div>
   <div class="table-card">
  {{#paper-card class="" as  |card|}}
    <div class="header-overlay"></div>
    <div class="card-shadow"></div>
{{#paper-data-table class="u-custom-table u-custome-menu"   as |table|}}
{{#table.head as |head|}}
  {{#head.column }}رقم{{/head.column}}
  {{#head.column }}النوع{{/head.column}}
  {{#head.column }}نوع العقد{{/head.column}}
  {{#head.column }}المستأجر{{/head.column}}
  {{#head.column}}حالةالعقد{{/head.column}}
  {{#head.column numeric=true}}{{/head.column}}

{{/table.head}}
{{#table.body as |body|}}
  {{#each contracts as |contract|}}
    {{#body.row edit=true onClick=(action (if (and (eq contract.contract_status 0) (eq currentUser.id contract.created_by))'contractEdit' 'contractView') contract.id) as |row|}}
      {{#row.cell }}{{contract.id}}{{/row.cell}}
      {{#row.cell}}{{contract.m_property_type.name}}{{/row.cell}}
      {{#row.cell }}{{contract.contract_type.name}}{{/row.cell}}
      {{#row.cell }}{{contract.renter_name}}{{/row.cell}}
      {{#row.cell}}
      {{#if (eq contract.contract_status 0)}}
      <span class="">تم الحفظ كمسودة</span>
      {{/if}}
      {{#if (eq contract.contract_status 1)}}
      <span class="warn-col">إنتظار موافقة المستأجر والمالك</span>
      {{/if}}
      {{#if (eq contract.contract_status 2)}}
      <span class="warn-col">إنتظار موافقة المستأجر </span>
      {{/if}}
       {{#if (eq contract.contract_status 3)}}
       <span class="warn-col">إنتظار موافقة المالك </span>
      {{/if}}
      {{#if (eq contract.contract_status 4)}}
      <span class="primery-col">تم</span>
      {{/if}}
      {{#if (eq contract.contract_status 5)}}
       <span class="warn-col">عدم موافقة المالك </span>
      {{/if}}
      {{#if (eq contract.contract_status 6)}}
       <span class="warn-col">عدم موافقة المستأجر </span>
      {{/if}}
      {{#if (eq contract.contract_status 6)}}
       <span class="warn-col">العقد ملغي </span>
      {{/if}}
      {{/row.cell}}
      {{#row.cell edit=true as |cell|}}
      {{#if (eq currentUser.id contract.created_by)}}
         {{#paper-menu  offset="237 23" as |menu|}} 
         {{#menu.trigger}} 
         {{#paper-button iconButton=true}} {{paper-icon "more_vert" size=18 class="md-menu-origin"}} {{/paper-button}} 
        {{/menu.trigger}} 
        {{#menu.content class="u-custome-menu" width=4 as |content|}}
        {{#content.menu-item
        onClick=(action "editUnit" unit.id)}} {{paper-icon "edit" size=18 class="md-menu-align-target"}}
        <span>سحب</span>
        {{/content.menu-item}}
        {{#content.menu-item
        onClick=(action "deleteContract" contract.id)}} {{paper-icon "delete" size=18 class="md-menu-align-target"}}
        <span>حذف</span>
        {{/content.menu-item}}
        
         {{/menu.content}} {{/paper-menu}}
         {{/if}}
      {{/row.cell}}
    {{/body.row}}
     
   {{else}}
    {{#if tableLoading}}
      {{#body.row  as |row|}}
     {{#row.cell colspan="6" }}جاري تحميل العقود ...{{/row.cell}}
      {{/body.row}}
    {{else}}
    {{#body.row  as |row|}}
    {{#row.cell colspan="6" }}لايوجد عقود من فضلك إضف عقد {{/row.cell}}
       {{/body.row}}
       {{/if}}
  {{/each}}
{{/table.body}}
{{/paper-data-table}}
  {{/paper-card}}
  </div>





