{{#if isShow}}

  {{#paper-card as |card|}}
 {{#paper-form  class="md-padding" onSubmit=(action (if user.id "updateUser" "saveUser")) as |form|}}
        <div class="layout-row"  onClick={{action "formClick"}}>
            <div class="layout-column flex-50 md-padding">
                {{form.input label=" الأسم بالكامل" disabled=true  errorMessages=regularValidation required=(if (and user.id (eq user.id currentUser.id)) true false)   value=user.name onChange=(action (mut user.name)) }} 
                {{#unless property.isRenter}}
                {{#paper-select  label="نوع الهوية" errorMessages=regularValidation disabled=true   options=idTypes selected=user.id_type onChange=(action (mut user.id_type))
                as |idType|}} {{idType.name}} {{/paper-select}}
                {{#paper-select  label=" جهة الأصدار" errorMessages=regularValidation disabled=true    options=regions selected=user.id_issuer onChange=(action (mut user.id_issuer))
                as |region|}} {{region.title}} {{/paper-select}}
                {{form.input type="date" label="تاريخ الأنتهاء " errorMessages=regularValidation disabled=true  value=user.id_exp_date onChange=(action (mut  user.id_exp_date)) }}
                {{form.input type="number" errorMessages=regularValidation  disabled=true  label="رقم الجوال" value=user.mobile1 onChange=(action (mut user.mobile1)) }}
                {{form.input type="number" label="رقم الحساب البنكي IBAN" maxlength="24" minlength="24" errorMessages=regularValidation  disabled=true   value=user.bank_iban onChange=(action (mut user.bank_iban)) }}
                {{/unless}}
            </div>
            {{#unless property.isRenter}}
            <div class="layout-column flex-50 md-padding">
                {{form.input type="text" label="عنوان المالك" errorMessages=regularValidation  disabled=true  required=(if (and user.id (eq user.id currentUser.id)) true false) value=user.address onChange=(action (mut user.address)) }}
                {{form.input type="number" label="رقم الهوية" errorMessages=regularValidation disabled=true  required=(if (and user.id (eq user.id currentUser.id)) true false) value=user.id_no onChange=(action (mut user.id_no))}}
                {{form.input type="date" label="تاريخ الأصدار" errorMessages=regularValidation disabled=true   disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) value=user.id_issued_date onChange=(action (mut user.id_issued_date)) }}   
                {{form.input type="email" errorMessages=regularValidation  disabled=true  label="البريد الألكتروني" value=user.email onChange=(action (mut user.email)) }} 
                {{#paper-select  label="الجنسية" errorMessages=regularValidation  disabled=true  options=nationalities selected=user.nationality onChange=(action (mut  user.nationality))
                as |nationality|}} {{nationality.name}} {{/paper-select}}
                {{#paper-select  label="البنك الخاص بالمالك" errorMessages=regularValidation  disabled=true  options=banks selected=user.bank onChange=(action (mut  user.bank))
                as |bank|}} {{bank.name}} {{/paper-select}}
            </div>
           {{/unless}}
        </div>
        {{#unless property.isRenter}}
        <div class=" u-full-width mdl-grid u-mbuttom30">
            <div class="mdl-cell mdl-cell--12-col md-padding">
                <div class=" m-b-1 w-80">
                    <div class="form-group inputDnD">
                          
                        {{#if user.id_image}}
                        <a href="{{user.id_image}} target="_blank" download">عرض</a>
                         {{/if}}
                        <i class="material-icons">insert_drive_file</i>
                        <input type="file" disabled accept="image/jpeg, image/png" data-title="مرفق صورة الهوية" class="form-control-file text-primary font-weight-bold"
                            id="inputFile" accept="image/*" name="attachment">
                           
        
                    </div>
                </div>
         
            </div>
        </div>
        {{/unless}}
        {{/paper-form}}
        {{/paper-card}}

{{else}}


<div class="u-side-padding content">
    <h4 class="page-title">بيانات صاحب العقار</h4>
    {{#paper-card as |card|}}
    <div class="md-padding">
        {{#unless user.id}}
        <div class="layout-row">
            <div class="layout-column card-search flex-50 md-padding">
               
            {{paper-input class="flex-30" label="البحث عن المستخدم" value=userSearchValue onChange=(action (mut userSearchValue))}}
             {{#if isSearch}}
             {{searchUserResult}}
             {{#paper-list class="search-user-list"}}
             {{#if searchUserResult.id}}
             {{#paper-item onClick=(action "setUser" searchUserResult) class="md-3-line"}}
            <img src={{searchUserResult.avatar}} class="md-avatar">
            <div class="md-list-item-text">
                <p>{{searchUserResult.name}}</p>
                <p>{{searchUserResult.email}}</p>
                <p>{{searchUserResult.mobile1}}</p>
            </div>
            {{/paper-item}}
            {{else}}
            <div class="md-list-item-text">
                <p>dddd</p>
            </div>
            {{/if}}
             {{/paper-list}}
            {{/if}}
            </div>
              <div class="layout-column flex-10 md-padding">
                  <div>
                       {{#paper-button class="u-padding-side-60" onClick=(action 'userSearch') raised=true raised=true primary=true}}إبحث{{/paper-button}}
                  </div>
                 
              </div>
        </div>
        {{/unless}}
        {{#paper-form  class="md-padding" onSubmit=(action (if user.id "updateUser" "saveUser")) as |form|}}
        <div class="layout-row"  onClick={{action "formClick"}}>
            <div class="layout-column flex-50 md-padding">
                {{form.input label=" الأسم بالكامل" disabled=(if (and user.id (not-eq user.id currentUser.id)) true false)  errorMessages=regularValidation required=(if (and user.id (eq user.id currentUser.id)) true false)   value=user.name onChange=(action (mut user.name)) }} 
                {{#paper-select  label="نوع الهوية" errorMessages=regularValidation  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) required=(if (and user.id (eq user.id currentUser.id)) true false)  options=idTypes selected=user.id_type onChange=(action (mut user.id_type))
                as |idType|}} {{idType.name}} {{/paper-select}}
                {{#paper-select  label=" جهة الأصدار" errorMessages=regularValidation required=(if (and user.id (eq user.id currentUser.id)) true false)  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) options=regions selected=user.id_issuer onChange=(action (mut user.id_issuer))
                as |region|}} {{region.title}} {{/paper-select}}
                {{form.input type="date" label="تاريخ الأنتهاء " errorMessages=regularValidation required=(if (and user.id (eq user.id currentUser.id)) true false)  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) value=user.id_exp_date onChange=(action (mut  user.id_exp_date)) }}
                {{form.input type="number" errorMessages=regularValidation  required=true disabled=(if user.id true false) label="رقم الجوال" value=user.mobile1 onChange=(action (mut user.mobile1)) }}
                {{form.input type="number" label="رقم الحساب البنكي IBAN" errorMessages=regularValidation   maxlength="24" minlength="24" disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) value=user.bank_iban onChange=(action (mut user.bank_iban)) }}
            </div>
            <div class="layout-column flex-50 md-padding">
                {{form.input type="text" label="عنوان المالك" errorMessages=regularValidation  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) required=(if (and user.id (eq user.id currentUser.id)) true false) value=user.address onChange=(action (mut user.address)) }}
                {{form.input type="number" label="رقم الهوية" errorMessages=regularValidation  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) required=(if (and user.id (eq user.id currentUser.id)) true false) value=user.id_no onChange=(action (mut user.id_no))}}
                {{form.input type="date" label="تاريخ الأصدار" errorMessages=regularValidation required=(if (and user.id (eq user.id currentUser.id)) true false)  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) value=user.id_issued_date onChange=(action (mut user.id_issued_date)) }}   
                {{form.input type="email" errorMessages=regularValidation  required=true disabled=(if user.id true false) label="البريد الألكتروني" value=user.email onChange=(action (mut user.email)) }} 
                {{#paper-select  label="الجنسية" errorMessages=regularValidation  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) options=nationalities selected=user.nationality onChange=(action (mut  user.nationality))
                as |nationality|}} {{nationality.name}} {{/paper-select}}
                {{#paper-select  label="البنك الخاص بالمالك" errorMessages=regularValidation  disabled=(if (and user.id (not-eq user.id currentUser.id)) true false) options=banks selected=user.bank onChange=(action (mut  user.bank))
                as |bank|}} {{bank.name}} {{/paper-select}}
            </div>
        </div>
        <div class=" u-full-width mdl-grid u-mbuttom30">
            <div class="mdl-cell mdl-cell--12-col md-padding">
                <div class=" m-b-1 w-80">
                    <div class="form-group inputDnD">
                        
                        <i class="material-icons">insert_drive_file</i>
                        <input type="file" accept="image/jpeg, image/png, application/pdf" data-title="مرفق صورة الهوية" data-file-name="{{idFile}}" data-title="مرفق صورة الهوية"  class={{if idFile "form-control-file text-primary font-weight-bold has-name" "form-control-file text-primary font-weight-bold"}}
                            id="idFile"  disabled={{if (and user.id (not-eq user.id currentUser.id)) true false}}  name="attachment"  onchange={{ action "fileInputChange" "idFile"}}>
                            <div class="file-name">{{idFile}}</div>
                              {{#if user.id_image}}
                        <a href="{{user.id_image}}" target="_blank" download>عرض</a>
                         {{/if}}
                    </div>
                </div>
        
            </div>
        </div>
        <div class="layout-row">
            <span class="flex"></span>
             {{#if (and user.id (not property.owner.id))}}
             {{#paper-button class="u-padding-side-60" onClick=(action 'deleteSearch') raised=true raised=true warn=true}}حذف المدير{{/paper-button}}
            {{/if}}
            {{!-- {{#if (and user.id (or (eq user.registered 0) (eq user.id currentUser.id)))}}
             {{#paper-button class="u-padding-side-60" onClick=(action 'deleteUser') raised=true raised=true warn=true}}حذف المالك{{/paper-button}}
                {{/if}} --}}
            {{#form.submit-button disabled=isRequesting  class="u-padding-side-60" raised=true primary=true}}حفظ{{/form.submit-button}}
                
        </div>
        {{/paper-form}}
    </div>
    {{#if isRequesting}}
{{paper-progress-linear}}
{{/if}}

    {{/paper-card}}
</div>
{{/if}}