{{#if isShow}} {{#paper-card class="md-padding u-mtop30 u-mbuttom30" as |card|}}
<div class="layout-row md-padding">
  <span> {{unit.type.name}} رقم {{unit.no}} </span>
  <span class="flex"></span>
  {{#if (eq unit.available 1)}}
  <span class="warn-col">شاغرة</span>
  {{else}}
  <span class="primery-col">مؤجرة</span>
  {{/if}}
</div>

  {{#paper-form  as |form|}}
      <div class="layout-row layout-wrap md-padding u-spacing-20">
          {{form.input disabled=true class="flex-50" type="number" label="رقم الوحدة" errorMessages=regularValidation value=unit.no onChange=(action (mut unit.no)) required=true}}
          {{#paper-select disabled=true class="flex-50" label="نوع الوحدة" errorMessages=regularValidation options=types required=true selected=unit.type onChange=(action
          (mut unit.type)) as |type|}} {{type.name}} {{/paper-select}} 
          {{form.input disabled=true class="flex-50" type="number" label="رقم الدور" errorMessages=regularValidation value=unit.floor onChange=(action (mut unit.floor)) required=true}} 
          {{form.input disabled=true class="flex-50" type="number" label="رقم عداد المياه" errorMessages=regularValidation value=unit.water_meter onChange=(action (mut unit.water_meter)) }} 
          {{form.input disabled=true class="flex-50" type="number" label="رقم عداد الكهرباء" errorMessages=regularValidation value=unit.electricity_meter onChange=(action (mut unit.electricity_meter))}} 
          {{form.input disabled=true class="flex-50" type="number" label="رقم عداد الغاز" errorMessages=regularValidation value=unit.gas_meter onChange=(action (mut unit.gas_meter)) }}           
          {{#paper-select disabled=true class="flex-50" label="التأثيث" required=true errorMessages=regularValidation options=furnished selected=unit.furnished onChange=(action (mut unit.furnished))
          as |furnished|}} {{furnished.name}} {{/paper-select}} 
          {{#paper-select disabled=true class="flex-50" label="حالة التأثيث" errorMessages=regularValidation options=furnished-status selected=unit.furnished_status onChange=(action (mut unit.furnished_status)) as |item|}} {{item.name}} {{/paper-select}}          
          {{#paper-select disabled=true class="flex-50" label="خزائن للمطبخ" errorMessages=regularValidation options=kitchen-cabinet required=true selected=unit.kitchen_cabinet onChange=(action (mut unit.kitchen_cabinet))
          as |item|}} {{item.name}} {{/paper-select}} 
          {{form.input disabled=true class="flex-50" type="number" label=" عدد غرف المعيشة" errorMessages=regularValidation value=unit.living_rooms onChange=(action (mut unit.living_rooms)) required=true}}           
          {{form.input disabled=true class="flex-50" type="number" label=" عدد غرف النوم" errorMessages=regularValidation value=unit.bed_rooms onChange=(action (mut unit.bed_rooms)) required=true}} 
          {{form.input disabled=true class="flex-50" type="number" label=" عدد غرف الأستقبال" errorMessages=regularValidation value=unit.reception_rooms onChange=(action (mut unit.reception_rooms)) required=true}}           
          {{form.input disabled=true class="flex-50" type="number" label="عدد الحمامات" errorMessages=regularValidation value=unit.bath_rooms onChange=(action (mut unit.bath_rooms)) required=true}}
          {{form.input disabled=true class="flex-50" type="number" label="عدد مكيفات شباك" errorMessages=regularValidation value=unit.window_air_conditioner onChange=(action (mut unit.window_air_conditioner)) required=true}}          
          {{form.input disabled=true class="flex-50" type="number" label="عدد مكيفات سبلت" errorMessages=regularValidation value=unit.split_air_conditioner onChange=(action (mut unit.split_air_conditioner)) required=true}}
           <span class="flex-50"></span>
      </div>
      {{#unless property.isRenter}}
      <div class="layout-row">
        <span class="flex"></span>
         {{#paper-button class="u-padding-side-60"  raised=true warn=true onClick=(action 'deleteUnit' unit.id)}}حذف{{/paper-button}}
       {{#paper-button class="u-padding-side-60"  raised=true primary=true onClick=(action 'editUnit' unit.id)}}تعديل{{/paper-button}}
      </div>
    {{/unless}}
   
 
  {{/paper-form}}
{{/paper-card}}

{{#if (eq unit.available 1)}}
<h5 class="page-title u-mtop60">بيانات الأيجار</h5>
{{#paper-card class="md-padding " as |card|}}

<div class="layout-row md-padding">

  <span class="flex"></span>
  <span>الوحده شاغرة ولايوجد بيانات للإيجار</span>
  <span class="flex"></span>

</div>
<div class="layout-row md-padding">

  <span class="flex"></span>
  <button id="loginBtn" class="mdl-button u-margin-8 mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" onClick={{action "addContract"}}>
    أضف عقد إيحار
  </button>
  <span class="flex"></span>

</div>
{{/paper-card}}
{{else}}
{{#paper-card class="md-padding " as |card|}}
<div class="layout-row md-padding">

  <span class="flex"></span>
 <button id="loginBtn" class="mdl-button u-margin-8 mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" onClick={{action "viewContract" unit.contract_id}}>
    عرض العقد
  </button>

  <span class="flex"></span>
  </div>
    {{/paper-card}}
{{!-- {{component 'contract-show-component' property=property contract=contract currentUser=currentUser isUnitView=true}} --}}
{{/if}}
 {{else}}

  {{#paper-form class="md-padding" onSubmit=(if unit.id 'updateUnit' 'saveUnit') as |form|}}
  <div class={{if unit.collapse "unit-card collapse" "unit-card"}}>
    <div class="unit-header">
      {{#if unit.id}}
      <h4 class="page-title">تعديل وحدة رقم {{unit.no}}</h4>
      {{else}}
          <h4 class="page-title">أضف وحدة </h4>
      {{/if}}
    </div>

    {{#paper-card as |card|}}
    <div class="md-padding">
      <div class="layout-row layout-wrap md-padding u-spacing-20">
          {{form.input class="flex-50" type="number" label="رقم الوحدة" max=99 errorMessages=regularValidation value=unit.no onChange=(action (mut unit.no)) required=true}}
          {{#paper-select class="flex-50" label="نوع الوحدة" errorMessages=regularValidation options=types required=true selected=unit.type onChange=(action
          (mut unit.type)) as |type|}} {{type.name}} {{/paper-select}} 
          {{form.input class="flex-50" type="number" max=99  label="رقم الدور" errorMessages=regularValidation value=unit.floor onChange=(action (mut unit.floor)) required=true}} 
          {{form.input class="flex-50" type="number"  label="رقم عداد المياه" errorMessages=regularValidation value=unit.water_meter onChange=(action (mut unit.water_meter)) }} 
          {{form.input class="flex-50" type="number" label="رقم عداد الكهرباء" errorMessages=regularValidation value=unit.electricity_meter onChange=(action (mut unit.electricity_meter))}} 
          {{form.input class="flex-50" type="number" label="رقم عداد الغاز" errorMessages=regularValidation value=unit.gas_meter onChange=(action (mut unit.gas_meter)) }}           
          {{#paper-select class="flex-50" label="التأثيث"  required=true errorMessages=regularValidation options=furnished selected=unit.furnished onChange=(action (mut unit.furnished))
          as |furnished|}} {{furnished.name}} {{/paper-select}} 
          {{#paper-select class="flex-50" label="حالة التأثيث"  required=(if (eq unit.furnished.id "2")false true)   disabled=(if (eq unit.furnished.id "2") true false) errorMessages=regularValidation options=furnished-status selected=unit.furnished_status onChange=(action (mut unit.furnished_status)) as |item|}} {{item.name}} {{/paper-select}}          
          {{#paper-select class="flex-50" label="خزائن للمطبخ" errorMessages=regularValidation options=kitchen-cabinet required=true selected=unit.kitchen_cabinet onChange=(action (mut unit.kitchen_cabinet))
          as |item|}} {{item.name}} {{/paper-select}} 
          {{form.input class="flex-50" type="number" max=99  label=" عدد غرف المعيشة" errorMessages=regularValidation value=unit.living_rooms onChange=(action (mut unit.living_rooms)) required=true}}           
          {{form.input class="flex-50" type="number" max=99  label=" عدد غرف النوم" errorMessages=regularValidation value=unit.bed_rooms onChange=(action (mut unit.bed_rooms)) required=true}} 
          {{form.input class="flex-50" type="number" max=99  label=" عدد غرف الأستقبال" errorMessages=regularValidation value=unit.reception_rooms onChange=(action (mut unit.reception_rooms)) required=true}}           
          {{form.input class="flex-50" type="number" max=99  label="عدد الحمامات" errorMessages=regularValidation value=unit.bath_rooms onChange=(action (mut unit.bath_rooms)) required=true}}
          {{form.input class="flex-50" type="number" max=99  label="عدد مكيفات شباك" errorMessages=regularValidation value=unit.window_air_conditioner onChange=(action (mut unit.window_air_conditioner)) required=true}}          
          {{form.input class="flex-50" type="number" max=99  label="عدد مكيفات سبلت" errorMessages=regularValidation value=unit.split_air_conditioner onChange=(action (mut unit.split_air_conditioner)) required=true}}
           <span class="flex-50"></span>
      </div>
      <div class="layout-row">
        <span class="flex"></span>
        {{#form.submit-button class="u-padding-side-60" raised=true primary=true}}حفظ{{/form.submit-button}}
      </div>
    </div>
    {{/paper-card}}
  </div>
  {{/paper-form}}
{{/if}}