<div class="u-side-padding">
    <h4 class="page-title">أضف عقار</h4>
    {{#paper-card as |card|}}
    
<div class="md-padding">
{{#paper-form class="md-padding" onSubmit=(action (if property.id "updateUnit" "saveUnit"))  as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-50 md-padding">
      {{form.input label="أسم الوحدة" value=unit.name onChange=(action (mut unit.name)) required=true}}
      {{#paper-select  label="التأثيث" options=types selected=furnished onChange=(action (mut furnished))
        as |type|}} {{type.name}} {{/paper-select}}
        {{#paper-select  label="خزائن للمطبخ" options=types selected=kitchen_cabinet onChange=(action (mut kitchen_cabinet))
        as |type|}} {{type.name}} {{/paper-select}}
      {{form.input type="number" label="رقم الدور" value=property.floor onChange=(action (mut property.floor)) required=true}}
       {{form.input type="number" label="عدد المصاعد" value=property.elevators onChange=(action (mut property.elevators)) required=true}}
       {{form.input type="number" label="سنة البناء " value=property.year_of_construction	 onChange=(action (mut property.year_of_construction)) required=true}}
       {{form.input type="text" label=" مكان الأصدار" required=true value=property.property_instrument_place	 onChange=(action (mut property.property_instrument_place)) required=true}}
       {{#paper-select  label=" جهة الأصدار" errorMessages=regularValidation options=regions selected=property.property_instrument_issuer onChange=(action (mut property.property_instrument_issuer))
                as |region|}} {{region.title}} {{/paper-select}}
    </div>
    <div class="layout-column flex-50 md-padding">
         {{#paper-select  label="نوع الوحدة" options=types selected=name.type onChange=(action (mut name.type))
        as |type|}} {{type.name}} {{/paper-select}}
       {{form.input type="number" label="حالة التأثيث" value=furnished_status onChange=(action (mut furnished_status)) required=true}}
       {{form.input type="number" label="عدد الغرف" value=unit.bed_rooms onChange=(action (mut property.parking)) required=true}}
       {{form.input type="number" label="صك الملكية" value=property.property_instrument_no onChange=(action (mut property.property_instrument_no)) required=true}}
       {{form.input type="date" label="تاريخ الأصدار" value=property.property_instrument_date onChange=(action (mut property.property_instrument_date)) required=true}}
        <span class="flex"></span>
    </div>
  </div>
  <div class="layout-row">
      <span class="flex"></span>
    {{#form.submit-button class="u-padding-side-60"  raised=true primary=true}}حفظ{{/form.submit-button}}
  </div>
{{/paper-form}}
</div>
    {{/paper-card}}
</div>