 {{!-- {{#if currentLoginStatus}} --}} {{partial 'application/-authenticated-header'}}
<div class="main-content">
        {{outlet}}
</div>
{{partial 'application/-footer'}} {{!-- {{else}}
<div class="loading">
        {{component 'spinner-loading'}}
</div>
{{/if}} --}} {{component 'main-script-component'}}

